/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Robot", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #D77D7C;
  color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus{
  outline: 2px dashed #fff;
  outline-offset: 3px;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 60px;
  padding-bottom: 60px;
}


.washing-mode-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
}

.washing-mode-item:not(:last-child) {
  margin-right: 45px;
}

.washing-mode-link {
  color: rgb(255, 255, 255, .4);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  transition: color .4s ease;
}
.washing-mode-item-active .washing-mode-link,
.washing-mode-link:hover{
  color: #fff;
}

.washing-mode-link:active{
  color: rgb(255, 255, 255, .8);
}

.washing-mode-notice{
  width: 530px;
  color: #fff;
  font-size: 15px;    
  margin-top: 0;
  margin-bottom: 30px;
}

.washing-mode-info {
  position: relative;
  box-shadow: 0 7px 10px  rgba(0, 0, 0, .5);
}

.washing-mode-controller {
  width: 80px;
  height: 80px;
  background-color: rgb(255, 255, 255, .4);
  outline: none;
  border: 0;
  cursor: pointer;
  transition: background-color .3s ease;
  position: absolute;
  }
  .washing-mode-controller:hover{
    background-color: #fff;
  }
  .washing-mode-controller:active{
    background-color: rgb(255, 255, 255, .8);
  }
  .washing-mode-controller-prev{
    left: -80px;
  }
  .washing-mode-controller-next{
    right: -80px;
  }
.washing-mode-status {
  display: flex;
  align-items: center;
  margin: 0;
}

.washing-mode-status-item {
  width: 255px;
  height: 270px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.washing-mode-item-timer{
  background-color: #363234;
}
.washing-mode-item-temperature{
  background-color: #2E2A2C;
}
.washing-mode-item-load{
  background-color: #1F1B1D;
}

.washing-mode-status-heading {
  color: #D77D7C;
  font-size: 25px;
}

.washing-mode-status-value {
  margin-left: 0;
  font-size: 35px;
}

.start-btn{
  position: absolute;
  left: 9px;
  bottom: 0;
  width: 235px;
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #121113;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transform: translateY(50%);
  transition: transform .3s ease;
}

.start-btn:hover{
  transform: translateY(43%);
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
